<!-- This is an old test version of website-new only. Not to be evaluated


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel = "stylesheet" href = "../../vendors/bootstrap/dist/css/bootstrap.min.css">
  <link rel = "stylesheet" href = "../../css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Title</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="color: #007bff">
      <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">

          <div class="navbar-header">
            <div class="navbar-text pull-left" style="margin-left: 0px;">
              <a href="#">
                <i class="fa fa-chevron-left" aria-hidden="true" style="color: black"></i>
              </a>
            </div>
            <a class="navbar-brand" href="#">
              Left Header
            </a>
            <div class="navbar-text pull-right" style="margin-right: 30px;">
              <a href="#">
                <i class="fa fa-plus" aria-hidden="true" style="color: black"></i>
              </a>
            </div>
          </div>

        </div>
        <div class="col-sm-8">
          <div class="navbar-text pull-right" style="margin-right: 0px;">
            <a href="#">
              <i class="fa fa-check" aria-hidden="true" style="color: black"></i>
            </a>
          </div>
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Right Header
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="row container-fluid">
      <div class="col-sm-4 hidden-xs"
           style="overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#">
              Cras justo odio
            </a>
            <i class="fa fa-cog pull-right" aria-hidden="true" style="color: #007bff"></i>
          </li>
        </ul>
      </div>
      <!--
      <div class="col-sm-8 pull-right">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
        </form>
    </div>

    </div>
</body>
</html>
-->

